* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding-top: 141px;
    justify-content: space-around;
}

.header_link {
    color: gray;
    font-size: 18px;
}

.header_nav1 {
    display: flex;
    gap: 25px;
}

.main_zakaz {
    width: 179px;
    height: 53px;
    border-radius: 7px;
    border: none;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
}

.main_link1 {
    color: white;
}

.main_div1 {
    max-width: 596px;
    width: 100%;
    font-size: 20px;
}

.main_div2 {
    padding-top: 189px;
    padding-left: 122px;
    display: flex;
}

.main_div3 {
    padding-top: 58px;
}

.main_text1 {
    font-size: 50px;
    text-align: center;
    padding-top: 250px;
}

.main_span1 {
    color: #2E3192;
}

.section_div1 {
    width: 344px;
    box-shadow: 5px 5px 50px black;
    border-radius: 15px;
    justify-content: center;
}

.main_img2 {
    border-radius: 15px;
}

.main_text2 {
    color: #767676;
}

.main_div6 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.section2_div1 {
    max-width: 1550px;
    width: 100%;
    height: 357px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    margin-top: 225px;
    flex-wrap: wrap;
    position: relative;
}

.section2_div2 {
    width: 436px;
    height: 187px;
    border-radius: 9px;
    background-color: white;
    position: relative;
}

.main_text3 {
    width: 354px;
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 64px;
    color: gray;
}

.mani_img3 {
    position: absolute;
    z-index: 10;
    bottom: 130px;
    left: 140px;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    flex-wrap: wrap;
}

.footer_text1 {
    color: gray;
    width: 224px;
}

.footer_text2 {
    color: gray;
}

footer {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main_text4 {
    color: #767676;
    z-index: -1;
}

.main_img4 {
    border-radius: 15px;
}

@media screen and (max-width:980px) {
    .section2_div1 {
        height: auto;
    }

    .div {
        gap: 80px;
    }

    header {
        flex-wrap: wrap;
    }

    .main_div6 {
        width: 200px;
        margin: auto;
        gap: 80px;
    }

    .header_link {
        display: none;
    }

    .main_div1 {
        width: 323px;
    }

    .main_div5 {
        position: absolute;
        left: 50px;
    }

    .main_img2 {}

    footer {
        flex-wrap: nowrap;
        scale: calc(0.8);
    }

    .main_img2 {
        width: 594px;
    }

    .main_img1 {
        padding-left: 150px;
    }

    h1 {
        padding-left: 20px;
    }

    .main_text2 {
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .div {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:980px) {
    .section_div1 {
        width: 594px;
        margin-right: 500px;
    }

    .main_div6 {
        padding-top: 100px;
        justify-content: center;
        margin-left: 550px;
    }
}

@media screen and (max-width:768px) {
    .mian_div2 {
        flex-wrap: wrap;
    }
}